body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.ajustar1{
    text-align: center;
    padding-top: 30px;
}

.textoedit{
    text-decoration: none;
    color: #F43435;
    text-transform: uppercase;
    font-size: 13px;
    
}
    

.wasa{
    display: inline-block;
    color: white;
    line-height: 2px;
    
}
.num{
    display: block;
    color: white;
    line-height: 10px;
    margin-left: 40px;
}
.ti{
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    color: #F43435;
    padding-bottom: 20px;
    
}
.imageng10{
    max-width: 49%;
    box-shadow: 5px 8px 12px rgb(0, 0, 0) !important;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 50px;
    width: 260px;
    height: 300px;
    margin-top: 20px;

}
.imageng10:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px;
    border: 0;
    
}

.c{
    width: 670px;
    height: 350px;
    margin: 0px auto;
    background-image: radial-gradient( rgb(77, 139, 246) , rgb(37, 37, 207) );
    margin-bottom: 50px;
    
}
.c img{
    float: right;
 
}
.sg10{
    padding-top: 150px;
    color: azure;
    margin-bottom: 0px;

}
.ceip{
    margin-top: 50px;
    color: rgb(208, 206, 206);
    font-size: 10px;
}
.disponible{
    margin: 0;
    color: azure;
    font-size: 25px;

}
.cc{
    width: 670px;
    height: 350px;
    margin: 0px auto;
    background-image: linear-gradient(to left, rgb(97, 95, 95), rgb(160, 156, 185));
    
}
.cc img{
    float: right;
}
.alinear{
    text-align: center;
}