body{
    min-height: 110%;
    margin: 150px;
    font-family: "Aleo variant0", Tofu !important;
}
.ajustar1{
    text-align: center;
    padding-top: 30px;
    
}
.textoedit{
    text-decoration: none;
    color: #F43435;
    text-transform: uppercase;
    font-size: 13px;
    
}
.wasa{
    display: inline-block;
    color: white;
    line-height: 2px;
    
}
.num{
    display: block;
    color: white;
    line-height: 10px;
    margin-left: 40px;
}

.div-cont{
    text-align: center;
    margin: 50px 0;
    
}
.div-cont2{
    text-align: center;
    margin: 20px 0;
}
.a-cont{
    text-align: center;
    box-sizing: content-box;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgba(152, 67, 226, 0);
    border-radius: 10px;
    font-size: 55px;
    font-family: 'Kanit', sans-serif;
    display: inline-block;

    transition: all 0.5s ease 0s;
}
.a-cont:hover{
    text-shadow: 0 3px 15px rgba(0, 0, 0, 0.466);
    color: rgb(255, 0, 0);
}
.a-cont1{
    color: rgb(255, 0, 0);
    font-weight: 100;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0000007d;
    text-decoration: none;
    font-style: italic;
}
.p-cont1{
    
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p-cont12{
    color: rgba(0, 0, 0, 0.700);
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p-cont12:hover{
    color:rgb(255, 0, 0);
}
.p-cont123{
    color: rgba(0, 0, 0, 0.700);
    text-align: center;
    text-decoration: underline;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p-cont123:hover{
    color:rgb(43, 0, 80);
}
.p-cont-b{
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.200);
    margin: 10px 0;
}
input{
    outline: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

}
.label-title{
    color: rgba(0, 0, 0, 0.700);
    margin: 10px ;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.a-cont-b1{
    display: inline-block;
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    background-color: rgb(43, 0, 80);
    padding: 20px 10px;
    min-width: 50%;
    height: 100%;
    box-sizing: border-box;
    transition:1s cubic-bezier(0.075, 0.82, 0.165, 1)
}
.a-cont-b1:hover{
    background-color: transparent;
    border: 2px solid rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
}
.container{
    max-width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.form-box{
    margin: 0 auto;
    max-width: 470px;
    width: 100%;
}
.div-cont-register{
    margin: 10px;
    text-align: left;
}
.div-cont-register1{
    margin: 10px;
    text-align: justify;
}
.a-cont1-register{
    font-family: 'Kanut'sans-serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    font-style: italic;
}

.div-cont-title{
    text-align: center;
    min-width: 150px;
}
.hr1{
    width: 100%;
    margin: 25px 0;
}
::placeholder { 
    color: rgba(0, 0, 0, 0.250);
    font-style: italic;
    text-transform: uppercase;
}

    .a-cont-b1{
        display: inline-block;
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 700;
        border-radius: 10px;
        background-color: rgb(244, 41, 41);
        padding: 20px 10px;
        min-width: 30%;
        height: 100%;
        box-sizing: border-box;
        transition:1s cubic-bezier(0.075, 0.82, 0.165, 1)
    }
    

