body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.ajustar1{
    text-align: center;
    padding-top: 30px;
}

.textoedit{
    text-decoration: none;
    color: #F43435;
    text-transform: uppercase;
    font-size: 13px;
    
}
form{
    background-image: linear-gradient(to right, rgb(62, 61, 61), rgb(105, 105, 106));
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.form{
    width: 100%;
    margin: auto;
    background-image: linear-gradient(to right, rgb(62, 61, 61), rgb(105, 105, 106));
}
form .grupo{
    position: relative;
    margin: 45px ;
}
input{
    background: none;
    color: #c6c6c6;
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border-radius: 2px;
    border-width: 1px;
    
    
}
input:focus{ 
    outline: none;
    color: #dcdbdb;
}
label{
    color: white;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
    
}
input:focus~label,
input:valid~label{
    top: -30px;
    font-size: 20px;
    color:aliceblue;
}
.ajustar_cont{
    max-width: 600px;
    width: 100%;
    margin-top: 100px;
}
#editarbtn{
    background-color: #F43435;
    padding: 10px;
    width: 100%;
    max-width: 490px;
    border: none;
    border-radius: 5px;
    color: white;
    
}
h1{
    color: white;
}

.warnings{
    width: 100%;
    max-width: 450px;
    text-align: center;
    margin: auto;
    color: rgb(207, 205, 205);
    padding-top: 20px;
    font-size: 15px;
    line-height: 30px;
    
}
