body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.ajustar1{
    text-align: center;
    padding-top: 30px;
}

.textoedit{
    text-decoration: none;
    color: #F43435;
    text-transform: uppercase;
    font-size: 13px;
    
}
    
.carousel-control-prev-icon{
    background-color: rgb(0, 0, 0);
}
.carousel-control-next-icon{
    background-color: rgb(0, 0, 0);
}
.carousel-indicators{
    background-color: white opacity;
}
.desc{
    display: inline-block;
    padding: 7px;
    background-color: #F43435;
    border-radius: 15%;
    color: white;
}
.Titulo{
    color: #464646;
    text-transform: uppercase; 
}

.boton-carro{
    display: inline-block;
    background-color: #F43435;
    text-decoration: none;
    color: white;
    padding: 10px;
    padding-inline: 146px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
    
}
.boton-comprar{
    display: inline-block;
    background-color: #464646;
    text-decoration: none;
    color: white;
    padding: 10px;
    padding-inline: 150px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;
    
}

.boton-comprar:hover{
    color:white;
}
.boton-carro:hover{
    color: white;
}

#text{
    display: none;
    text-align: center;

}
#vr{
    background-color: white;
    color: #464646;
    padding: 15px;
    margin: 20px;
    border-width: 1px;
    
}

#vm{
    background-color: white;
    color: #464646;
    padding: 15px;
    margin: 20px;
    border-width: 1px;
    

}




