<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{% static 'menu/css/contra.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  
  
</head>

<body>
  <div class="container-fluid " >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{% static 'menu/img/RSN.png' %}" alt="logo" width="200" height="60" style="max-width: 100%;">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" style="color: white; font-size: 17px;" aria-current="page" href="{% url 'principal' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: white; font-size: 17px;" href="{% url 'samsung' %}">Samsung</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: white; font-size: 17px;" href="{% url 'xiaomi' %}">Xiaomi</a>
              </li>
            </ul>
            
          </div>
      </div>
    </nav>
      

    <div class="row">
      <div class="col-md-6 col-sm-6 ajustar1">
        <img class="" src="{% static 'menu/img/personaa.png' %}"  style="max-width: 35px; width: 100%;" alt="persona"><br>
        <a class="textoedit" href="{% url 'micuenta' %}"><b>Ingresar</b> </a>
      </div>

      <div class="col-md-6 col-sm-6 ajustar1">
        <img class="img1" src="{% static 'menu/img/carroo.png' %}"  style="max-width: 35px; width: 100%;" alt="car"><br>
        <a class="textoedit" href="{% url 'carrito' %}"> <b>Ver Carro</b> </a>
      </div>
      
      
    </div> 
     
   


        <div class="container">
            <div class="row-contra">
                <div>
                    <div class="div-cont-register">
                        <p class="a-cont1-register1">¿Olvidaste tu contraseña?
                        </p> 
                    </div>
                    <div class="div-cont-register1">
                        <p class="a-cont1">Para poder restaurar su cuenta de "RSN PHONE", debe ingresar su correo y tendra las indicaciones necesarias
                             para restablecer su contraseña.</p>
                    </div>
                    <div class="col-12">
                        <div class="hr1">
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div>
                             <label for="registerFirstname" class="label-title">Email</label>
                        </div>
                        <form action="/action_page.php" class="was-validated">
                              <input type="text" id="registerEmail" placeholder="Ingrese su correo electronico" class="p-cont-b" required maxlength="50">
                              <div class="valid-feedback">Completado</div>
                            <div class="invalid-feedback">Porfavor complete este campo</div>
        
                        </form>
                    </div>
        
        
        
                </div>


            </div>
        </div>

         <div class="div-cont">
             <button class="a-cont-b1" href="">Recuperar contraseña</button>
        </div>
     

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>