<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/carrito.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">  
</head>
<body>
    

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                  <img src="img/RSN.png" alt="logo" width="200" height="60">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" style="color: white; font-size: 17px;" aria-current="page" href="principal.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color: white; font-size: 17px;" href="samsung.html">Samsung</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color: white; font-size: 17px;" href="xiaomi.html">Xiaomi</a>
                    </li>
                  </ul>
                  <li><img src="img/WhatsApp.png" width="25" height="25" alt="wsp">
                    <p class="wasa">Whatsapp</p><br>
                    <p class="num">+56976435483</p>
                  </li>
                </div>
            </nav>
          <div class="row" style="padding-bottom: 30px;">
            <div class="col-md-6 col-sm-6 ajustar1">
              <img class="" src="img/personaa.png"  width="35" height="35" alt="persona"><br>
              <a class="textoedit" href="micuenta.html"><b>Ingresar</b> </a>
            </div>
  
            <div class="col-md-6 col-sm-6 ajustar1">
              <img class="img1" src="img/carroo.png"  width="35" height="35" alt="car"><br>
              <a class="textoedit" href="carrito.html"> <b>Ver Carro</b> </a>
            </div>
            
            
          </div>

    
    <div class="row aln">
        <div class="col-md-3"></div>
        <div class="col-6 carro "><img class="imagen" src="img/carroo.png" alt="0" width="120" height="120"><br>
        <p class="texto1" >Tu carro está vacío</p> <br>
        <p class="texto2">Inicia sesión para ver los productos de tu carro. </p> 
        <p class="texto3">También podrás ver los que guardaste para después.</p>
        <a class="boton" href="micuenta.html">Iniciar sesion</a>
    </div>
        <div class="col-md-3"></div>
        
    </div>
         </div>

 

         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>

