<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario de Contacto</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link type="text/css" rel="stylesheet" href="{% static 'menu/css/estilos.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">

    <script type="text/javascript">
    
    $(document).ready(function(){
        $("#error").hide(); //ocultando el div de los errores
        
        //indicar que las validaciones del formulario se ejecutaran solo cuando se
        //presione el submit
        $("#formulario_contacto").submit(function(){
            var mensaje = "Por favor revisar los siguientes detalles en el formulario:";
            
            if($("#nombre_completo").val().trim().length == 0){
                mensaje = mensaje + "<br>El campo nombre no debe estar vacío";
            }

            if($("#correo").val().trim().length == 0){
                mensaje = mensaje + "<br>El correo electrónico no puede estar vacío";
            }

            if( isNaN($("#telefono").val()) ){
                mensaje = mensaje + "<br>El teléfono solo pueden ser números";
            }

            if(mensaje != "Por favor revisar los siguientes detalles en el formulario:"){
                $("#error").html(mensaje); //mostrando el texto de la variable en el div del html
                $("#error").show();//hace visible el div
                event.preventDefault();//evita que los datos del formulario se envien

            }


            
        });


    });


    
    </script>

</head>

<body>
    <!-- Menu Principal   -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">MisMascotas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">NOSOTROS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ADOPTA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">COLABORA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SERVICIOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto' %}">CONTÁCTANOS</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Fin del Menu Principal   -->

    <div class="container espaciado_superior">

        <h1>Comunicate con Nosotros</h1>
        <form action="home.html" method="POST" name="formulario_contacto" id="formulario_contacto">
            <div class="form-group">
                <label for="nombre_completo">Nombre Completo</label>
                <input type="text" class="form-control" name="nombre_completo" id="nombre_completo"
                    placeholder="Ingrese su nombre">
            </div>

            <div class="form-group">
                <label for="correo">Correo Eletrónico</label>
                <input type="email" class="form-control" name="correo" id="correo" placeholder="ejemplo@ejemplo.com"
                    >
                    
            </div>

            <div class="form-check">
                <label class="form-check-label" for="documento">
                    <input type="radio" class="form-check-input" name="documento" id="documento" value="rut" checked>Rut
                </label>

            </div>

            <div class="form-check">
                <label class="form-check-label" for="documento">
                    <input type="radio" class="form-check-input" name="documento" id="documento"
                        value="pasaporte">Pasaporte
                </label>

            </div>

            <div class="form-group">
                <label for="num_doc">Número de Documento</label>
                <input type="text" class="form-control" name="num_doc" id="num_doc" required>
            </div>

            <div class="form-group">
                <label for="telefono">Número de Teléfono</label>
                <input type="tel" class="form-control" name="telefono" id="telefono">
            </div>

            <div class="form-group">
                <label for="ciudad">Seleccione su Ciudad</label>
                <select name="ciudad" id="ciudad" class="form-control">
                    <option value="santiago">Santiago</option>
                    <option value="talca">Talca</option>
                    <option value="rancagua">Rancagua</option>
                    <option value="concepcion">Concepción</option>
                </select>
            </div>

            <div class="form-group">
                <label for="comentario">Comentarios</label>
                <textarea class="form-control" id="comentario" name="comentario" rows="5" required></textarea>
            </div>

            <div class="form-group">
                <div id="error" class="alert alert-danger"></div>
                <button type="reset" class="btn btn-dark">Limpiar Campos</button>
                <button type="submit" class="btn btn-primary">Enviar Formulario</button>
            </div>



        </form>

    </div>

</body>

</html>
