{% extends 'menu/PlantillaMascotas.html' %}
{% load static %}


{% block titulo %}
  <title>Inicio</title>
    {% endblock titulo %}

    
    {% block estilo %}
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>
    {% endblock estilo %}

   
    



    
    {% block banner %}
    
    <!-- Banner-->
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner separacion">
            <div class="carousel-item active">
                <img src="{% static 'menu/imagenes/banner1.jpg' %}" alt="Los Angeles" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="{% static 'menu/imagenes/banner3.jpg' %}" alt="Chicago" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="{% static 'menu/imagenes/banner4.jpg' %}" alt="New York" width="1100" height="500">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon" style="width: 48px !important;height: 49px !important;"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon" style="width: 48px !important;height: 49px !important;"></span>
        </a>
    </div>
    <!-- Fin Banner -->
{% endblock banner %}

{% block cuerpo %}

<div class="container"> <!-- Creo el contenedor-->
    <div class="row"><!-- creo una fila -->
        <div class="col-md-4 col-sm-12 centrado">
            <a href="{% url 'borgona' %}" style="color: black;"><img src="{% static 'menu/imagenes/pet1.jpeg' %}" alt="Mascota 1" class="responsive_imagenes">
            <h2>Borgoña</h2></a>
        </div>
        <div class="col-md-4 col-sm-12 centrado">
            <img src="{% static 'menu/imagenes/pet2.jpg' %}" alt="Mascota 2" class="responsive_imagenes">
            <h2 class="centrado">Mishi</h2>
        </div>
        <div class="col-md-4 col-sm-12 centrado">
            <img src="{% static 'menu/imagenes/pet3.jpg' %}" alt="Mascota 3" class="responsive_imagenes">
            <h2>Copito</h2>
        </div>

    </div>
    <div class="row"><!-- creo una fila -->
        <div class="col-md-4 col-sm-12 centrado">
            <img src="{% static 'menu/imagenes/pet4.jpeg' %}" alt="Mascota 4" class="responsive_imagenes">
            <h2>Wilson</h2>
        </div>
        <div class="col-md-4 col-sm-12 centrado">
            <img src="{% static 'menu/imagenes/pet5.jpeg' %}" alt="Mascota 5" class="responsive_imagenes">
            <h2 class="centrado">Chunchunmaru</h2>
        </div>
        <div class="col-md-4 col-sm-12 centrado">
            <img src="{% static 'menu/imagenes/pet6.jpg' %}" alt="Mascota 6" class="responsive_imagenes">
            <h2>Tobby</h2>
        </div>

    </div>

</div>
{% endblock cuerpo %}

{% block footer %}
<footer>
    <div class="container">

    </div>
</footer>
{% endblock footer %}



